* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* font-family: "Reem Kufi", sans-serif !important; */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding: 20px; */
}

body {
    background-color: #f6f6f6;
}

.boarding-wrapper-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boarding-wrapper {
    background-color: antiquewhite;
    width: 710px;
    height:280px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    /* margin-left: 10px; */
   
}
.boarding-wrapper-box {
    background-color: white;
    width: 500px;
    height:170px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    /* text-align: center; */
    font-weight: bold;
   
}

.boarding-wrapper-box-mian {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bording-pending-box {
    padding: 10px;
    border: black;
    border-width: 2px;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-top: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boarding-box-header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.box-icons {
    margin-right: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.top-line {
    color: rgb(139, 139, 139);
    font-size: 15px;

}

.boarding-profile-picture {
    height: 45px;
    width: auto;
    border-radius: 50%;
    border-color: black;
    margin-right: 10px;
    margin-left: 15px;
}

.bell-icon {
    color: black;
    margin-bottom: 5px;
}


