.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .error {
    border: 1px solid red !important;
  }
  
  .success {
    border: 1px solid green !important;
  }
  #error{
    margin-top: 150px;
}

.noColor {
  color: inherit;
}
#demo-select-small-label{
  border: none !important;
}