.input-group {
    display: flex;
    width: 50%;
    position: relative;
   
    margin: 1rem 8rem;
}



.input-group input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 0.7rem;
    background-color: var(--gray);
    border-radius: .5rem;
    border: 0.125rem solid var(--white);
    outline: none;
}