

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000000;
    color: white;
  }


  .visit-btn{
    background-color: #000000;
    color: #ffff;

  }

  .acceptbtn{
    background-color: #ffa500;
    color: #ffffff;
    margin-right: 5px;

  }
  .rejectbtn{
    background-color: #ff0404;
    color: #ffff;

  }

  .statusbtn{
    display: flex;
  }

  .userdetails{
    margin: 20px 0px 20px 0px;
    text-align: left;
  }

  .username{
    font-size: 15px;
  }

  .date{
    font-size: 12px;
  }

  .title-name{
    font-size: 16px;
  }